In [71]:
student_marks = [['Name',['A','B','C','D','E']], 
                ['Ankit',[41,34,45,55,63]],
                ['Aravind',[42,23,34,44,53]],
                ['Lakshay',[32,23,13,54,67]],
                ['Gyan',[23,82,23,63,34]],
                ['Pranav',[21,23,25,56,56]],
                ]

In [72]:
#Who scored the highest marks in the subject B?
student_with_marks_in_B = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_B= student[1][1]
 
    student_with_marks_in_B.append([marks_in_B,name])
student_with_marks_in_B
sorted(student_with_marks_in_B,reverse=True)[0][1]

'Gyan'

In [73]:
#  What is the average marks scored in the subject C?
student_with_marks_in_C = []

for student in student_marks[1:]:
    marks_in_C= student[1][2]
    student_with_marks_in_C.append(marks_in_C)
    total_marks_in_C=sum(student_with_marks_in_C)
    average_marks_in_C=total_marks_in_C//len(student_with_marks_in_C)
    
average_marks_in_C

28

In [74]:
# Who scored the highest percentage of marks?
total_marks=[]
percentage_marks = []

for student in student_marks[1:]:
    name=student[0] 
    marks=student[1]
    total_marks=round(sum(marks)*(100/500),2)
    percentage_marks.append([total_marks,name])

sorted(percentage_marks,reverse=True)[0][1]

'Ankit'

In [75]:
#If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?
best_four_marks = []


for student in student_marks[1:]:
    name = student[0] 
    count_1 = 0
    summ_1 = 0
    for j in student[1]:
        if j > min(student[1]):
            count_1 += 1
            summ_1 += j
    avg = summ_1/count_1
    best_four_marks.append([avg,name])
best_four_marks

[[51.0, 'Ankit'],
 [43.25, 'Aravind'],
 [44.0, 'Lakshay'],
 [59.666666666666664, 'Gyan'],
 [40.0, 'Pranav']]